extends ../layout

block content
	.page-header
		h1 Your GitHub Repositories
		
	p After you turn on a repository, we will automatically compile your LaTeX code to a PDF everytime you make a change.

	- if (active_repos.length > 0)
		table.table.table-hover.table-striped
			thead
				tr
					th Enabled Repos
			tbody
				each repo in active_repos
					tr
						td
							.row
								.col-xs-8
									a(href=repo.html_url)= repo.full_name
								.col-xs-4.text-right
									form(action="#{settings.mountPoint}/repos/#{repo.full_name}/hook/destroy", method="POST")
										a.btn.btn-success(href="#{settings.mountPoint}/repos/#{repo.full_name}/builds") View Latest Build
										| 
										input(type="hidden", name="_csrf", value=csrfToken)
										button.btn.btn-danger(type="submit") Turn Off								
		
	table.table.table-hover.table-striped
		thead
			tr
				th Your Repos
		tbody
			each repo in other_repos
				tr
					td
						.row
							.col-xs-8
								a(href=repo.html_url)= repo.full_name
							.col-xs-4.text-right
								form(action="#{settings.mountPoint}/repos/#{repo.full_name}/hook", method="POST")
									input(type="hidden", name="_csrf", value=csrfToken)
									button.btn.btn-default(type="submit") Turn On
							
		