extends ../layout

block content
	.page-header
		h1.text-center ShareLaTeX Cloud Compiler

	.card
		.page-header
			h1 Your GitHub Repositories
			
		p.text-center After you enable a repository, we will automatically compile your LaTeX code to a PDF everytime you make a change.

		- if (activeRepos.length > 0)
			table.table.table-hover.table-striped
				thead
					tr
						th Enabled Repos
				tbody
					each repo in activeRepos
						tr
							td
								.row
									.col-xs-6
										a(href=repo.html_url)= repo.full_name
									.col-xs-6.text-right
										form(action="#{settings.mountPoint}/repos/#{repo.full_name}/hook/destroy", method="POST")
											a.btn.btn-info(href="#{settings.mountPoint}/repos/#{repo.full_name}") View Latest Build
											| 
											input(type="hidden", name="_csrf", value=csrfToken)
											button.btn.btn-danger(type="submit") Turn Off								
			
		table.table.table-hover.table-striped
			thead
				tr
					th Your Repos
			tbody
				each repo in otherRepos
					tr
						td
							.row
								.col-xs-6
									a(href=repo.html_url)= repo.full_name
								.col-xs-6.text-right
									form(action="#{settings.mountPoint}/repos/#{repo.full_name}/hook", method="POST")
										input(type="hidden", name="_csrf", value=csrfToken)
										button.btn.btn-default(type="submit") Turn On
							
		