- if (typeof(build) == "undefined")
	- var text = "unknown";
	- var color = "#9f9f9f";
	- var width = 61;
- else if (build.status == "in_progress")
	- var text = "building";
	- var color = "#dfb317";
	- var width = 54;
- else if (build.status == "success")
	- var text = "success";
	- var color = "#4c1";
	- var width = 54;
- else
	- var text = "failed";
	- var color = "#e05d44";
	- var width = 41;

svg(xmlns="http://www.w3.org/2000/svg", width="#{width + 28}", height="20")

	linearGradient#smooth(x2="0", y2="100%")
		stop(offset="0", stop-color="#bbb", stop-opacity=".1")
		stop(offset="1", stop-opacity=".1")

	mask#round
		rect(width="#{width + 28}", height="20", rx="3", fill="#fff")

	g(mask="url(#round)")
		rect(width="28", height="20", fill="#555")
		rect(x="28", width="#{width}", height="20", fill="#{color}")
		rect(width="#{width + 28}", height="20", fill="url(#smooth)")

	g(fill="#fff", text-anchor="middle", font-family="DejaVu Sans,Verdana,Geneva,sans-serif", font-size="11")
		text(x="14", y="15", fill="#010101", fill-opacity=".3") pdf
		text(x="14", y="14") pdf
		text(x="#{28 + width / 2 - 1}", y="15", fill="#010101", fill-opacity=".3") #{text}
		text(x="#{28 + width / 2 - 1}", y="14") #{text}
