if build.status == "in_progress"
	p
		.alert.alert-info
			| Building...
		script(type="text/javascript").
			setTimeout(function() {
				window.location.reload();
			}, 5000)
else
	if build.status == "success"
		p
			.alert.alert-success
				.row
					.col-xs-12
						a.btn.btn-success(href="#{settings.mountPoint}/repos/#{build.repo}/builds/#{build.sha}/raw/output.pdf") Download PDF
						| &nbsp;&nbsp;Build was successful!
	else
		p
			.alert.alert-danger
				.row
					.col-xs-12
						| This build failed. Please check the logs below.

	- if (build.commit)
		p
			.well
				p= build.commit.message
				small
					| by #{build.commit.author.name} on #{build.commit.author.date}
	
	
	.page-header
		h3 Logs
	
	.well
		iframe(width="100%", height="400px", style="border: none", src="#{settings.mountPoint}/repos/#{build.repo}/builds/#{build.sha}/raw/output.log")
		a(href="#{settings.mountPoint}/repos/#{build.repo}/builds/#{build.sha}/raw/output.log") Download logs
	
	.page-header
		h3 All Output Files
		
	ul
		each file in outputFiles
			li
				a(href="#{settings.mountPoint}/repos/#{build.repo}/builds/#{build.sha}/raw/#{file}")= file