extends ../layout

block content
	.page-header
		h1
			a(href="#{settings.mountPoint}/repos/#{repo}/builds") #{repo}
		
	table.table.table-hover
		thead
			tr
				th Builds
		tbody
			each build in builds
				tr
					td
						.row
							.col-xs-10
								a(href="#{settings.mountPoint}/repos/#{repo}/builds/#{build.sha}")= build.commit.message
								.small by #{build.commit.author.name} on #{build.commit.author.date}
							strong.col-xs-2.text-right
								if build.status == "success"
									.text-success Success!
								else
									.text-danger Failed :(
		